@model NotKayitSistemi.Models.Entities.OgrenciIletisim

<h2>İletişimi Sil</h2>

<h4>Bu kaydı silmek istediğinize emin misiniz?</h4>

<div>
    <dl class="row">
        <dt class="col-sm-2">Öğrenci</dt>
        <dd class="col-sm-10">@Model.OgrenciTmlId</dd>

        <dt class="col-sm-2">Telefon</dt>
        <dd class="col-sm-10">@Model.Telefon</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-action="Index" class="btn btn-secondary">Geri</a>
    </form>
</div>
