@model NotKayitSistemi.Models.Entities.OgrenciAdres

<h2>Adres Güncelle</h2>

<form asp-action="Edit">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="OgrenciTmlId"></label>
        <select asp-for="OgrenciTmlId"
                class="form-control"
                asp-items="ViewBag.Ogrenciler">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Adres"></label>
        <input asp-for="Adres" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-warning">Güncelle</button>
    <a asp-action="Index" class="btn btn-secondary">Geri</a>

</form>

